workflowbackupsUploading And Updating Remark KB.json
{
  "active": false,
  "connections": {
    "Set ID": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "New File": {
      "main": [
        [
          {
            "node": "Set ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File Updated": {
      "main": [
        [
          {
            "node": "Get FIle ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Row(s)": {
      "main": [
        []
      ]
    },
    "Get FIle ID": {
      "main": [
        [
          {
            "node": "Reformat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reformat": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader1",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        []
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader2": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter2": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader2",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader3": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter3": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader3",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI3": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI4": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store2",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-13T23:15:22.557Z",
  "id": "fcmaVgjOe0NAGsvZ",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Uploading And Updating Remark KB",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e556566e-20a1-48b4-b01e-197a402b5a5f",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e2522d1d-d490-49af-bfe5-04f1f7bf0048",
      "name": "Set ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        360,
        220
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "88a1b58c-1db3-4430-8649-beefe0fd5d06",
      "name": "Supabase Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1140,
        280
      ],
      "credentials": {
        "supabaseApi": {
          "id": "TOGUNMon8ZWFLxAF",
          "name": "Xavier X Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set ID').item.json.id }}"
              }
            ]
          }
        }
      },
      "id": "d4be5142-48c4-4f26-8951-75ae9be02c8f",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1220,
        480
      ],
      "disabled": true
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "e489374a-4aad-489c-9138-11fcf2deb2a0",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1400,
        620
      ],
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "341e501e-b9c3-4b9b-8460-4f58e02ed520",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1060,
        500
      ],
      "credentials": {
        "openAiApi": {
          "id": "cYVk9wYudWzrwFIE",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 23
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1KWgk-dx0QFiTvGZ4Exg377JtU4eHGnA3",
          "mode": "url"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "c53e323a-e3e1-4f39-bbbe-a73d6220bfd2",
      "name": "New File",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        60,
        220
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NK7LhIx29QtOpLeP",
          "name": "sean@alphafv.co Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "59dc7165-52a5-4235-ae53-d4d1ad279fe5",
      "name": "Download File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        600,
        220
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NK7LhIx29QtOpLeP",
          "name": "sean@alphafv.co Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Upload New File into Knowledge Base\n\n",
        "height": 80,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "9b1438a9-77b9-45aa-8eec-f211eba35dd4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        780,
        220
      ],
      "id": "4994b3de-9931-45ea-b5b2-93ad01463414",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "content": "## Get New File \n",
        "height": 260,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        140
      ],
      "typeVersion": 1,
      "id": "bde6803c-6d50-4888-ae1b-5a0929eb67e2",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Fix Formatting\n",
        "height": 260,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        300,
        140
      ],
      "typeVersion": 1,
      "id": "4c4e06dc-d22d-44c1-9b98-3a412db8ec95",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Extract File Text\n\n",
        "height": 260,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        140
      ],
      "typeVersion": 1,
      "id": "da2d0527-6cd3-4af0-aa04-1505d011fd67",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Update Vector Database\n\n",
        "height": 640,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        100
      ],
      "typeVersion": 1,
      "id": "5671e380-5e44-4398-8def-6f9084ae978f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "hour": 22
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "https://drive.google.com/drive/folders/1KWgk-dx0QFiTvGZ4Exg377JtU4eHGnA3",
          "mode": "url"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "6721f448-f3e8-47ed-873c-b96b976c4b20",
      "name": "File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        80,
        1000
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NK7LhIx29QtOpLeP",
          "name": "sean@alphafv.co Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.id }}*"
      },
      "id": "c30bdd74-5114-464f-aafa-e22007108b56",
      "name": "Delete Row(s)",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        380,
        1360
      ],
      "credentials": {
        "supabaseApi": {
          "id": "TOGUNMon8ZWFLxAF",
          "name": "Xavier X Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4433ac7-0b70-4405-a564-f3f78f784470",
              "name": "file_id",
              "value": "={{ $('File Updated').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "50fb955e-4b8f-4817-95be-307a94d5a2de",
      "name": "Get FIle ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        700,
        1000
      ]
    },
    {
      "parameters": {},
      "id": "794de41e-c2d2-465b-abaa-650c05b4cdb5",
      "name": "Reformat",
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        880,
        1000
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Get FIle ID').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "90d0bc6e-4953-4f75-913c-9351267dc1cb",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1100,
        1000
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "NK7LhIx29QtOpLeP",
          "name": "sean@alphafv.co Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Update File in Knowledge Base \n",
        "height": 80,
        "width": 640,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        760
      ],
      "typeVersion": 1,
      "id": "0ddf089b-34a8-4a20-9a7c-e570984580dc",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Get File to Update\n \n",
        "height": 260,
        "width": 280,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        920
      ],
      "typeVersion": 1,
      "id": "15ef6191-a695-47af-bd33-49704fcd15ef",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## Fix Formatting\n",
        "height": 260,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        620,
        920
      ],
      "typeVersion": 1,
      "id": "2a1fbd9f-165c-4b7c-9138-49ac285f6fa2",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Extract File Text\n\n",
        "height": 260,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        920
      ],
      "typeVersion": 1,
      "id": "665c2ea6-5a5a-463d-89da-50a9d86cdc93",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Update Vector Database\n\n",
        "height": 580,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        900
      ],
      "typeVersion": 1,
      "id": "b178d22e-c9bc-4030-8814-c0e24b437cd2",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 50,
        "options": {}
      },
      "id": "c2050b68-9a8c-4bf0-8035-8d6d659ee1c7",
      "name": "Recursive Character Text Splitter1",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1900,
        1360
      ],
      "disabled": true
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "e8336f1c-00bd-4f7d-9f82-44ade70c36db",
      "name": "Extract from File1",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1280,
        1000
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "d366e058-07a9-4abb-8e80-cf0c8793a0d1",
      "name": "Embeddings OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        1600,
        1260
      ],
      "credentials": {
        "openAiApi": {
          "id": "cYVk9wYudWzrwFIE",
          "name": "OpenAi account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Reformat').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "8a71aecc-4f6f-4f0b-9f43-9fe5f11debbc",
      "name": "Default Data Loader1",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1760,
        1240
      ],
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "7ecced38-cadf-448d-b471-97beb529fae8",
      "name": "Supabase Vector Store1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        1640,
        1080
      ],
      "credentials": {
        "supabaseApi": {
          "id": "TOGUNMon8ZWFLxAF",
          "name": "Xavier X Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "pineconeNamespace": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        1740,
        160
      ],
      "id": "ad18cc15-8df6-4afd-a2ef-7b409640205e",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "9d13tIInEVamjOxI",
          "name": "Convert411 PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1660,
        440
      ],
      "id": "1570c9ed-c251-41b4-a332-278129773b40",
      "name": "Embeddings OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "cYVk9wYudWzrwFIE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set ID').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1900,
        420
      ],
      "id": "92f87cb8-9cf0-4b7d-b9df-24e2389f601b",
      "name": "Default Data Loader2"
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2000,
        600
      ],
      "id": "3bbf930a-1a58-45b3-9342-443680acb7cd",
      "name": "Recursive Character Text Splitter2"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        2220,
        960
      ],
      "id": "2a1068dc-49b0-44fd-bf29-89580087b7e6",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "9d13tIInEVamjOxI",
          "name": "Convert411 PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Set ID').item.json.id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        2340,
        1160
      ],
      "id": "fb2c585e-fd05-410a-a564-5c9c5682e946",
      "name": "Default Data Loader3"
    },
    {
      "parameters": {
        "chunkSize": 300,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        2460,
        1340
      ],
      "id": "ed79dad0-0851-47a8-9f83-9e94fa62bffb",
      "name": "Recursive Character Text Splitter3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2180,
        1180
      ],
      "id": "50febfce-9c26-4761-9b86-1bba164ce330",
      "name": "Embeddings OpenAI3",
      "credentials": {
        "openAiApi": {
          "id": "cYVk9wYudWzrwFIE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "update",
        "pineconeIndex": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        2760,
        960
      ],
      "id": "beb71055-7dd7-48cb-af19-20436e14c4e0",
      "name": "Pinecone Vector Store2",
      "credentials": {
        "pineconeApi": {
          "id": "9d13tIInEVamjOxI",
          "name": "Convert411 PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2880,
        1200
      ],
      "id": "e43e9925-a742-4cc2-a487-90bd9ae573e9",
      "name": "Embeddings OpenAI4",
      "credentials": {
        "openAiApi": {
          "id": "cYVk9wYudWzrwFIE",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-03-14T01:03:11.738Z",
  "versionId": "ac02430e-d8b6-4a1c-9451-19e80384b7c3"
}